* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}
--root {
  --backgraund: #CBDEEC;
  --cor-primary:#000;
  --cor-secundary:#FFF;
  --cor-terciary:#E1EEF3;
  --cor-secundary:#42454A;
  --btn:#68C4BA;
  --btn-main:#7EBBD0;
  --backgraund-main-card:#86C4D9;
}
a {
  color:#596774;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  color:#68C4BA ;
  text-decoration: underline;
}
li {
  list-style: none;
}
img { 
  width: 100%;
}
.container {
  width: 100%;
  max-width: 1180px;
  margin: auto;
}
body {
  background-color: var(--backgraund);
}
.header-nav {
  display: flex;
  gap: 14rem;
  justify-content: flex-start;
  align-items: center;
  padding-top: 4rem;
}
.header-logo {
  width: 4rem;
}
.header-nav-bar {
  display: flex;
  gap: 4rem;
  z-index: 9999999;
}
.btn {
  color: #FFF;
  font-size: 0.6rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background-color: #68C4BA;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
  rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
  rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
  rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
  rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
  rgba(0, 0, 0, 0.09) 0px 32px 16px;
  display: block;
  padding: 0.4rem 1.4rem;
  margin-top: -0.4rem;
  transition: 0.5s;
}
.btn:hover {
  background-color: #596774;
}
/*Main*/
.main-deco img {
  width: 100%;
  width: 46rem;
  top: 0;
  right: 0;
  position: absolute;
  object-fit: contain;
}
.main-deco2 img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
}
.main-deco3 img {
  position: absolute;
  top: 26rem;
  right: 0;
  width: 100px;
}
.main-deco2 h3 {
  color: #FFF;
  position: absolute;
  top: 200px;
  right: -62px;
  z-index: 1;
  transform: rotate(90deg);
  text-transform: uppercase;
  letter-spacing: 10px;
}
.main-deco3 h3 {
  color: #FFF;
  position: absolute;
  top: 600px;
  right: -30px;
  z-index: 1;
  transform: rotate(90deg);
  text-transform: uppercase;
  letter-spacing: 10px;
}
.main-container {
  display: flex;
  justify-content: flex-start;
  gap: 154px;
}
.main-container-info {
  margin-top: 152px;
}
.main-container-info h1 {
  color: #000;
  font-size: 70px;
  font-weight: 700;
}
.main-container-info-paragra1 {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 8px;
  line-height: 2;
  text-transform: uppercase;
}
.main-container-info-paragra2 {
  color: #000;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 30px;
}
.main-container-img1 {
  position: absolute;
  top: 174px;
  width: 100%;
  width: 400px;
  z-index: 2;
}
.main-container-img2 {
  position: absolute;
  width: 100%;
  width: 200px;
  margin-left: 202px;
  top: 220px;
  z-index: 1;
}
.main-container-img3 {
  position: absolute;
  width: 100%;
  width: 250px;
  margin-left: 100px;
  top: 510px;
  z-index: 1;
}
.main-container-info button {
  color: #FFF;
  font-size: 0.6rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background-color: #7FBCD1;
  
  display: block;
  padding: 0.6rem 1.6rem;
  margin-top: -0.4rem;
  transition: 0.5s;
}
.main-container-info button:hover {
  background-color: #596774;
}
footer p {
  margin-top: 300px;
  text-align: center;
  font-size: 10px;
  font-weight: 300;
}
