* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}
--root {
  --backgraund: #CBDEEC;
  --cor-primary:#000;
  --cor-secundary:#FFF;
  --cor-terciary:#E1EEF3;
  --cor-secundary:#42454A;
  --btn-header:#68C4BA;
  --btn-main:#7EBBD0;
  --backgraund-main-card:#86C4D9;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img { 
  width: 100%;
}
.container {
  width: 100%;
  max-width: 1180px;
  margin: auto;
}
body {
  background-color: var(--backgraund);
}
.header-nav {
  display: flex;
  gap: 30rem;
  justify-content: flex-start;
  align-items: center;
  padding-top: 4rem;
}
.header-logo {
  width: 4rem;
}
.header-nav-bar {
  display: flex;
  gap: 4rem;
}